

.sofia-font{
	font-family: 'Sofia Sans Condensed', sans-serif;
}

.d-flex{
	display: flex;
	align-items: center;
}

.mr-eq{
	margin-right: .75rem;
}
.ml-eq{
	margin-left: 1.0rem;
}
.mt-eq{
	margin-top: 1.0rem;
}
.mb-eq{
	margin-bottom: 1.0rem;
}

.font-size2{
	font-size: 1.5rem;
}

/* .blue-hum{
	color: #6396ff;
}

.orange-temp{
	color: #fa952a;
} */