

.sofia-font{
	font-family: 'Sofia Sans Condensed', sans-serif;
}

.d-flex{
	display: flex;
	align-items: center;
}

.mr-eq{
	margin-right: .75rem;
}
.ml-eq{
	margin-left: 1.0rem;
}
.mt-eq{
	margin-top: 1.0rem;
}
.mb-eq{
	margin-bottom: 1.0rem;
}

.font-size2{
	font-size: 1.5rem;
}

/* .card{
	box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 8px 10px -6px rgba(0,0,0,.1);
    padding: 1.5rem;
} */