.leaflet-default-icon-path { /* used only in path-guessing heuristic, see L.Icon.Default */
	background-image: url('~assets/img/map-marker.png');
}

h1,h2,h3,h4,h5,h6, .leaflet-popup-content{
	font-family: 'Alfa Slab One';
}

.sidebar{
	font-family: 'Sofia Sans Condensed';
	h3{
		font-family: 'Sofia Sans Condensed';
	}
	.card{
		color: $font-body__color !important;
	}
}

