$font-family: 'Inter', sans-serif;
$font-color: #222020;
$font-body__color: #585858;
$font-header: 'Alfa Slab One', cursive;
$font-body: 'Sofia Sans Condensed', sans-serif;

@font-face {
    font-family: 'Sofia Sans Condensed';
    font-display: swap;
    src: url('../fonts/SofiaSansCondensed-Medium.ttf');
  }
  @font-face {
    font-family: 'Sofia Sans Condensed';
    font-display: swap;
    src: url('../fonts/SofiaSansCondensed-Bold.ttf');
  }
  @font-face {
    font-family: 'Alfa Slab One';
    font-display: swap;
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
  }

.font-black{
    color: $font-color;
}
