<div class="sidebar active rounded" id="sidebar">
  <h3 class="text-lg"><b>Níveis</b></h3>
  <div class="rounded-none sofia-font my-2 mb-eq">
    <div class="d-flex mb-eq">
      <img src="./assets/img/Boa.png" width="32" height="32" class="mr-eq" />
      <strong>N1 - Bom <span>(12)</span></strong>
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Moderada.png" width="32" class="mr-eq" />
      <strong>N2 - Moderado <span>(4)</span></strong>
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/ruim.png" width="32" height="32" class="mr-eq" /><strong
        >N3 - Ruim <span>(3)</span></strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Muito-ruim.png" width="32" height="32" class="mr-eq" /><strong
        >N4 - Muito ruim <span>(1)</span></strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/pessima.png" width="32" height="32" class="mr-eq" /><strong
        >N5 - Péssima <span>(1)</span></strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Semponto.png" width="32" height="32" class="mr-eq" /><strong
        >Monitor a ser instalado <span>(4)</span></strong
      >
    </div>
  </div>
  <h3 class="text-lg"><b>Poluentes</b></h3>
  <div class="d-flex mb-eq">
    <img src="./assets/img/pm25.png" width="30" alt="pm2.5"  class="mr-eq"/><strong
      >Micro partículas 2.5mm</strong
    >
  </div>
  <div class="d-flex mb-eq">
    <img src="./assets/img/pm10.png" width="30" alt="pm10"  class="mr-eq"/><strong
      >Micro partículas 10mm</strong
    >
  </div>
  <div class="d-flex mb-eq">
    <img src="./assets/img/o3.png" width="30" alt="ozonio"  class="mr-eq"/><strong
      >Ozônio</strong
    >
  </div>
  <div class="d-flex mb-eq">
    <img src="./assets/img/no2.png" width="30" alt="Dióxido de nitrogênio"  class="mr-eq"/><strong
      >Dióxido de nitrogênio</strong
    >
  </div>

  <!-- <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img src="./assets/img/extemp.png" width="22" height="auto" class="mr-eq" alt="Temperatura" />
      <strong>Temperatura do ar º</strong>
    </div>
  </div>
  <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img
        src="./assets/img/umidade.png"
        width="30"
        height="auto"
        class="mr-eq"
        alt="Temperatura"
      />
    </div>
    <strong>Umidade relativa (%)</strong>
  </div> -->
  <!-- <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img
        src="./assets/img/rede.png"
        width="30"
        height="auto"
        class="mr-eq"
        alt="rede topologia"
      />
    </div>
    <strong>2 Monitores instalados</strong>
  </div> -->
</div>
