<div class="sidebar active rounded" id="sidebar">
  <h3 class="text-lg"><b>Níveis</b></h3>
  <div class="rounded-none sofia-font my-2 mb-eq">
    <div class="d-flex mb-eq">
      <img src="./assets/img/Boa.png" width="32" height="32" class="mr-eq" />
      <strong>N1 - Bom</strong>
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Moderada.png" width="32" class="mr-eq" />
      <strong>N2 - Moderado</strong>
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/ruim.png" width="32" height="32" class="mr-eq" /><strong
        >N3 - Ruim</strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Muito-ruim.png" width="32" height="32" class="mr-eq" /><strong
        >N4 - Muito ruim</strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/pessima.png" width="32" height="32"" class="mr-eq" /><strong
        >N5 - Péssima</strong
      >
    </div>
    <div class="d-flex mb-eq">
      <img src="./assets/img/Semponto.png" width="32" height="32" class="mr-eq" /><strong
        >Monitor a ser instalado</strong
      >
    </div>
  </div>

  <!-- <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img src="./assets/img/extemp.png" width="22" height="auto" class="mr-eq" alt="Temperatura" />
      <strong>Temperatura do ar º</strong>
    </div>
  </div>
  <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img
        src="./assets/img/umidade.png"
        width="30"
        height="auto"
        class="mr-eq"
        alt="Temperatura"
      />
    </div>
    <strong>Umidade relativa (%)</strong>
  </div> -->
  <!-- <div class="d-flex mb-eq">
    <div class="logos-poluentes">
      <img
        src="./assets/img/rede.png"
        width="30"
        height="auto"
        class="mr-eq"
        alt="rede topologia"
      />
    </div>
    <strong>2 Monitores instalados</strong>
  </div> -->
</div>
