  <div class="sidebar" id='sidebar'>
    <div class="menuIcon">
        <%- include('icon-menu') %>
    </div>
      <img src="./assets/img/icon-pref.png" class="toggleDesactive"
       style="margin-bottom:20px; margin-left:8px;" width="45" alt="icon-pref">
      <div class="d-flex my-3 justify-center">
         <img src="./assets/img/logoPref.png"
         width="200" alt="Logo Prefeitura de Fortaleza" style="margin-bottom: 20px;" class="toggleActive"> 
         <!-- <div>
          <a id="reset-darkmode" href="#" title="Clear Dark Mode Override"><small>(reset)</small></a></h1>
          <input type="checkbox" id="toggle-darkmode" />
          <label for="toggle-darkmode"><span>Toggle Light/Dark Mode</span></label>
        </div> -->
      </div>
      <!-- <h3 class="my-3 text-2xl">Legenda</h3> -->
      <h3 class="text-lg toggleActive"><b>Níveis</b></h3>
      <div class="card rounded-none sofia-font my-2">
        <div class="d-flex mb-eq"><img src="./assets/img/Boa.png" width="32" class="mr-eq" /> <strong>N1 - Bom</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/Moderada.png" width="32" class="mr-eq" /> <strong>N2 - Moderado</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/ruim.png" width="32" class="mr-eq" /><strong>N3 - Ruim</strong> </div>
        <div class="d-flex mb-eq"><img src="./assets/img/Muito-ruim.png" width="32" class="mr-eq" /><strong>N4 - Muito ruim</strong> </div>
        <div class="d-flex mb-eq"><img src="./assets/img/pessima.png" width="32" class="mr-eq" /><strong>N5 - Péssima</strong> </div>
      </div>
      <h3 class="text-lg toggleActive"><b>Legenda</b></h3>
      <div class="card rounded-none  sofia-font my-2">
        <div class="d-flex mb-eq"><img src="./assets/img/umidade.png" width="25" /> <strong class="ml-eq toggleActive">Umidade</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/extemp.png"  width="20" /> <strong class="ml-eq toggleActive">Temperatura</strong></div>
      </div>
      <h3 class="text-lg toggleActive"><b>Micro partículas</b></h3>
      <div class="card rounded-none sofia-font my-2">
        <div class="logos-poluentes">
            <img src="./assets/img/pm25.png" width="30" alt="pm2.5">
        </div>
        <article class="toggleActive">
          Podem ser definidas de maneira simplificada como aquelas cujo diâmetro aerodinâmico 
          é menor ou igual a 2,5 µm. or causa do seu tamanho diminuto, penetram profundamente 
          no sistema respiratório, podendo atingir os alvéolos pulmonares.
        </article>
        <!-- <h3 class="text-xl"><b>PM<sub>10</sub></b></h3> -->
        <div class="logos-poluentes">
            <img src="./assets/img/pm10.png" width="30" alt="pm10">
        </div>
        <article class="toggleActive">
          Podem ser definidas de maneira simplificada como aquelas cujo diâmetro aerodinâmico é menor ou igual a 10 µm. 
          Dependendo da distribuição de tamanho na faixa de 0 a 10 µm, podem ficar retidas na parte superior do sistema respiratório 
          ou penetrar mais profundamente, alcançando os alvéolos pulmonares. 
        </article>
      </div>
      
      <div class="d-flex">
            <div class="logos-poluentes">
                <img src="./assets/img/co2.png" width="30" class="mr-eq" alt="Monóxido de carbono" />
            </div>
          <h3 class="text-lg toggleActive"><b>Monóxido de Carbono</b></h3>
      </div>
      <div class="card rounded-md sofia-font my-2">
        <article class="toggleActive">
          É um gás incolor e inodoro que resulta da queima incompleta de combustíveis de origem orgânica 
          (combustíveis fósseis, biomassa etc.). Em geral é encontrado em maiores concentrações nas cidades, 
          emitido principalmente por veículos automotores. Altas concentrações de CO são encontradas em áreas de intensa circulação de veículos.
        </article>
      </div>

      <div class="d-flex">
            <div class="logos-poluentes">
                <img src="./assets/img/o3.png" width="30" class="mr-eq" alt="Ozônio" />
            </div>
          <h3 class="text-lg toggleActive"><b>Ozônio</b></h3>
      </div>
      <div class="card rounded-none  sofia-font my-2">
        <article class="toggleActive">
          Além de prejuízos à saúde, o ozônio pode causar danos à vegetação. É sempre bom ressaltar que o ozônio encontrado na faixa de ar próxima do solo, 
          onde respiramos, chamado de “mau ozônio”, é tóxico. Entretanto, na estratosfera (cerca de 25 km de altitude) 
          o ozônio tem a importante função de proteger a Terra, como um filtro, dos raios ultravioletas emitidos pelo Sol.
        </article>
      </div>

      <div class="d-flex">
        <div class="logos-poluentes">
            <img src="./assets/img/no2.png" width="30" class="mr-eq" alt="Dióxido de nitrogênio" />
        </div>
          <h3 class="text-lg toggleActive"><b>Dióxido de nitrogênio</b></h3>
      </div>
      <div class="card rounded-none sofia-font my-2">
        <article class="toggleActive">
          É formado durante processos de combustão. Em grandes cidades, os veículos geralmente são os principais responsáveis pela emissão dos óxidos de nitrogênio. 
          O NO, sob a ação de luz solar se transforma em NO2, que tem papel importante na formação de oxidantes fotoquímicos 
          como o ozônio. Dependendo das concentrações, o NO2 causa prejuízos à saúde.
        </article>
      </div>
  </div>