<!--footer-->
<footer id="footer" class="s-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 s-footer__blockLogo order-md-last order-sm-last order-last order-lg-first order-xl-first">
                <div class="s-footer__logoProjeto">
                    <a href="/">
                        <img src="./assets/img/logo-arqual.png" alt="logo qualidade do ar" width="165">
                    </a>
                </div>
                <div class="d-flex w-100 s-footer__sociais">
                    <button type="button" class="btn btn-facebook btn-icon-only rounded-circle mr-2">
                        <span class="btn-inner--icon"><span class="fa fa-facebook"></span></span>
                    </button>
                    <button type="button" class="btn btn-twitter btn-icon-only rounded-circle mr-2">
                        <span class="btn-inner--icon"><span class="fa fa-twitter" aria-hidden="true"></span></span>
                    </button>
                    <button type="button" class="btn btn-github btn-icon-only rounded-circle mr-2">
                        <span class="btn-inner--icon"><span class="fa fa-instagram" aria-hidden="true"></span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 blockAdress d-block">
                <img src="./assets/img/logo-citinovaBlack.png"  
                class="logoBranca mb-3 on-contrast-invert" alt="Logo Citinova">
                <br>
                <address class="text-black">
                    <strong class="font-weight-bold">Fundação de Ciência,
                        Tecnologia e Inovação de Fortaleza – Citinova</strong>
                    <br>
                    Rua dos Pacajús, nº 33 - Praia de Iracema, Fortaleza - CE
                    |
                    <br>
                    CEP: 60060-520<br>
                </address>
            </div>
            <div class="col-lg-4 col-md-12  s-footer__blockLogoPmf order-md-first order-sm-first order-first order-lg-last order-xl-last">
                <a href="https://www.fortaleza.ce.gov.br/" target="_blank">
                    <img src="./assets/img/logoPref.png" class="logoBranca on-contrast-invert" alt="Logo Prefeitura de Fortaleza">
                </a>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->

<script src="js/runtime.bundle.js"></script>
<script src="js/main.bundle.js"></script>
</html>