

<div class="nav mb-3">
    <!-- <button class="btnShow">
        <img src="./assets/img/left.png"   class=""  width="40"  />
    </button> -->
    <button class="btnSideBar" data-component="sidebar" data-target="sidebar">
        <img src="./assets/img/left.png"   class="toggleDesactive"      width="28"  />
        <img src="./assets/img/right.png"  class="toggleActive"         width="28"  />
    </button>
</div>