<section class="left-side ">
    <div class="left-side__top card">
        <div class="">
            <h4>Realização</h4>
        </div>
        <div class="mb-1 d-flex justify-cente">
           <img src="./assets/img/logo-pmf_urbanismo.png" alt=" logo secretaria de urbanismo" width="155">
        </div>
        <div class="mb-1 d-flex justify-center">
           <img src="./assets/img/logo_citinova.png" alt=" logo citinova " width="165">
        </div>
        <div class="mb-1 d-flex justify-center">
           <img src="./assets/img/labi-for.png" alt=" logo citinova " width="135">
        </div>
    </div>
    <div class="left-side__bottom card">
        <div class="">
            <h4>Parceria</h4>
        </div>
        <div class="mb-1 d-flex justify-center">
           <img src="./assets/img/partners-logo.png" alt=" logo partners" width="145">
        </div>
         <div class="mb-1 d-flex justify-center">
            <img src="./assets/img/ufc-logo.png" alt="ufc logo" width="140">
         </div>
        <div class="mb-1 d-flex justify-center">
           <img src="./assets/img/trama.png" alt="logo trama" width="125">
        </div>
    </div>
</section>