<%- include('includes/header') %>
<div class="s-sample">
  <header class="">
    <div class="page-header min-vh-50 page-normal">
      <span class="mask bg-gradient-warning opacity-2"></span>
      <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-success my-4">Monitoramento da Qualidade o Ar Fortaleza</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="s-about" class="s-about my-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="s-about__card rounded shadow">
            <h4>Sobre</h4>
            <article>
              <p>
                O Monitoramento da Qualidade do Ar Fortaleza colabora para a promoção da saúde
                pública através de dados coletados por equipamentos localizados em pontos
                estratégicos da cidade.
              </p>
              <p>
                Os monitores foram desenvolvidos com tecnologia local e são capazes de monitora os
                seguintes poluentes: Monóxido de Carbono, Ozônio, Dióxido de Nitrogênio e os
                Materiais Particulados de 2,5 e 10 micrometros.
              </p>
              <p>
                Os locais foram definidos com base na intensidade do tráfego veicular, no número de
                matrículas infantis e na presença de pedestres. Com isso, é possivel relacionar os
                efeitos da presença dos poluentes atmosféricos na saúde da população, com foco em
                crianças e idosos.
              </p>
              <p>
                Ao todo são 25 monitores, 23 localizados em diferentes pontos da cidade e 2
                localizados junto à Estação de Monitoramento da Qualidade do Ar referenciada que já
                opera no município desde 2020. Dessa forma, Fortaleza torna-se capaz de realizar uma
                gestão intersetorial da qualidade do ar e, com isso, além da promoção da saúde
                pública a possibilidade de desenvolver políticas públicas que assegurem aos cidadãos
                um ar cada vez melhor
              </p>
            </article>
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/img/imagem-lat.png" alt="imagem lat" />
        </div>
        <div class="col-md-6 col-12">
          <img src="./assets/img/icon-graf.png" alt="person brad" height="475" />
        </div>
        <div class="col-md-6 col-12">
          <div class="s-about__card rounded shadow">
            <article>
              <h5>Para quem é?</h5>
              <p>
                O Monitoramento da Qualidade do Ar Fortaleza é destinado tanto para a população em
                geral quanto para a comunidade acadêmica. Com isso, é possível informar sobre os
                níveis da qualidade do ar para diferentes públicos.
              </p>
              <h5>Acesso à Informação</h5>
              <p>
                No Monitoramento da Qualidade do Ar Fortaleza é possível acessar dados diários
                relacionados à qualidade do ar, bem como realizar o download dos dados relacionados
                aos poluentes e parâmetros meteorológicos monitorados.
              </p>
              <h5>O Monitoramento</h5>
              <p>
                O monitor utilizado registra de forma contínua as concentrações dos seguintes
                poluentes: Ozônio, Monóxido de Carbono, Dióxido de Nitrogênio e Material Particulado
                inalável de 2,5 e 10 micrometros. Além disso são monitorados também os seguintes
                parâmetros meteorológicos: Temperatura, Umidade e Pressão.
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('includes/footer') %>
