<%- include('includes/header') %>
<header class="bg-yellow">
  <div class="page-header min-vh-50 page-normal">
    <span class="mask bg-gradient-warning opacity-2"></span>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-success my-4">Análise de dados</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <section class="s-analytics">
    <div class="container">
      <div class="row s-analytics__cardInitial d-flex justify-content-center">
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-greenPol font-weight-bold mb-3">Boa</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">6 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/Boa.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-yellowPol text-shadow font-weight-bold mb-3">Moderada</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">4 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/Moderada.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-orangePol font-weight-bold mb-3">Ruim</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">6 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/ruim.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-redPol font-weight-bold mb-3">Muito ruim</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">1 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/Muito-ruim.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-purplePol font-weight-bold mb-3">Péssima</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">4 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/pessima.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-6 mb-4">
          <div class="card rounded shadow h-100 p-3 border-start-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h6 text-secondary font-weight-bold mb-3">Não calibrado</div>
                  <!-- <div class="h6 mb-0 font-weight-bold">4 pontos</div> -->
                </div>
                <div class="col-auto">
                  <img src="./assets/img/Semponto.png" alt="boa imagem" width="35" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-sm-4 col-12">
          <div class="card rounded shadow h-100 d-block p-3">
            <p><strong>Escolha o local</strong></p>
            <select
              id="form-selectPlace"
              class="form-select"
              aria-label="Default select example"
            ></select>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div
            class="card rounded shadow h-100 d-block justify-content-start align-items-center p-3"
          >
            <p><strong>Escolha o poluente</strong></p>
            <select id="selectPoluentes" class="form-select" aria-label="select exemplo">
              <option value="1" selected>PM2.5</option>
              <!-- <option value="2">PM10</option> -->
            </select>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <div class="card rounded shadow h-100 d-block p-3 pt-4">
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="radio"
                name="radioPeriodicoPol"
                id="radioDiario"
                value="diario"
                checked
              />
              <label class="form-check-label" for="radioDiario">Diário</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioPeriodicoPol"
                id="radioMensal"
                value="mensal"
              />
              <label class="form-check-label" for="radioMensal">Mensal</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container s-analytics_graph">
      <div class="row">
        <div id="formPm2Geral" class="col-12 mb-4">
          <div class="card">
            <div class="box">
              <p class="font-weight-bold">
                <strong>Valores de PM2.5 (última hora )</strong>
              </p>
              <div class="fetch-loading text-center">
                <span id="loading">Carregando...<img src="./assets/img/loading.gif" width="50" alt="loading "></span>
              </div>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div id="formDiaria" class="col-12 mb-4">
          <div class="card">
            <div class="box">
              <p><strong>Siqueira - Média diária de PM2.5 ( últimas 24 horas )</strong></p>
              <div class="fetch-loading text-center">
                <span id="loading">Carregando...<img src="./assets/img/loading.gif" width="50" alt="loading "></span>
              </div>
              <canvas id="myAreaChart"></canvas>
            </div>
          </div>
        </div>
        <div id="formDiariaPm10" class="col-12 mb-4">
          <div class="card">
            <div class="box">
              <p><strong>Siqueira - Média Mensal de PM10 ( últimos 28 dias - Maio )</strong></p>
              <div class="fetch-loading text-center">
                <span id="loading">Carregando...<img src="./assets/img/loading.gif" width="50" alt="loading "></span>
              </div>
              <canvas id="myAreaChartPm10"></canvas>
            </div>
          </div>
        </div>
        <div id="formMensal" class="col-12 mb-4">
          <div class="card">
            <div class="box">
              <p><strong>Siqueira - Média mensal de PM2.5 ( últimos 28 dias - Maio ) </strong></p>
              <div class="fetch-loading text-center">
                <span id="loading">Carregando...<img src="./assets/img/loading.gif" width="50" alt="loading "></span>
              </div>
              <canvas id="meuGrafico"></canvas>
            </div>
          </div>
        </div>
        <div id="formMensalPm10" class="col-12 mb-4">
          <div class="card">
            <div class="box">
              <p><strong>Siqueira - Média mensal de PM10</strong></p>
              <div class="fetch-loading text-center">
                <span id="loading">Carregando...<img src="./assets/img/loading.gif" width="50" alt="loading "></span>
              </div>
              <canvas id="meuGraficoPm10"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <iframe width="100%" height="500" src="https://lookerstudio.google.com/embed/reporting/655e108e-987e-4e10-88b8-60df6a67a29b/page/Xvk9C" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</section>
<%- include('includes/footer') %>
