<%- include('includes/header') %>
<section class="">
  <%- include('includes/left-side') %>
  <div id="map">
  </div>
  <%- include('includes/aside') %>
</section>
</body>
<%- include('includes/footer') %>
