<%- include('includes/header') %>
<section class="">
  <div id="left" class="leftside"></div>
  <div id="map">
  </div>
  <%- include('includes/aside') %>
</section>
</body>
<%- include('includes/footer') %>
