<%- include('includes/header') %>
<section class="">
  <div id="map">
  </div>
  <div class="sidebar" id='sidebar'>
      <div class="d-flex my-3 justify-center">
         <img src="./assets/img/logoPref.png"
         width="200" alt="Logo Prefeitura de Fortaleza">
      </div>
      <!-- <h3 class="my-3 text-2xl">Legenda</h3> -->
      <h3 class="text-lg"><b>Níveis</b></h3>
      <div class="card rounded-none sofia-font my-2">
        <div class="d-flex mb-eq"><img src="./assets/img/Boa.png" width="32" class="mr-eq" /> <strong>N1 - Bom</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/Moderada.png" width="32" class="mr-eq" /> <strong>N2 - Moderado</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/Ruim.png" width="32" class="mr-eq" /><strong>N3 - Ruim</strong> </div>
        <div class="d-flex mb-eq"><img src="./assets/img/Muito-ruim.png" width="32" class="mr-eq" /><strong>N4 - Muito ruim</strong> </div>
        <div class="d-flex mb-eq"><img src="./assets/img/Pessima.png" width="32" class="mr-eq" /><strong>N5 - Péssima</strong> </div>
      </div>
      <h3 class="text-lg"><b>Legenda</b></h3>
      <div class="card rounded-none  sofia-font my-2">
        <div class="d-flex mb-eq"><img src="./assets/img/umidade.png" width="25"   /> <strong class="ml-eq">Umidade</strong></div>
        <div class="d-flex mb-eq"><img src="./assets/img/extemp.png"  width="20"   /> <strong class="ml-eq">Temperatura</strong></div>
      </div>
      <h3 class="text-lg"><b>Partículas</b></h3>
      <div class="card rounded-none sofia-font my-2">
        <h3 class="text-xl"><b>PM<sub>2.5</sub></b></h3>
        <article>
            são partículas em suspensão com um diâmetro inferior a 2,5 micrómetros. 
        </article>
        <h3 class="text-xl"><b>PM<sub>10</sub></b></h3>
        <article>
          são partículas em suspensão com um diâmetro inferior a 10 micrómetros.  
        </article>
      </div>

      <h3 class="text-lg"><b>Ozônio O<sub>3</sub></b></h3>
      <div class="card rounded-none  sofia-font my-2">
        <article>
          Poluição por ozônio é um tipo de poluição causado a partir de reações químicas 
          entre raios solares, gases presentes na atmosfera.
        </article>
      </div>
      <h3 class="text-lg"><b>Dióxido de nitrogênio NO<sub>2</sub></b></h3>
      <div class="card rounded-none sofia-font my-2">
        <article>
          Ele é um gás muito comum, tóxico, conhecido por seu cheiro forte e coloração castanha.
        </article>
      </div>
      <h3 class="text-lg"><b>Dióxido de carbono CO<sub>2</sub></b></h3>
      <div class="card rounded-md sofia-font my-2">
        <article>
          é um composto químico gasoso que provoca desequilíbrio no efeito estufa.
        </article>
      </div>
  </div>
</section>
</body>
<%- include('includes/footer') %>
