<%- include('includes/header') %>
<main class="">
  <section class="hero">
    <div class="overflow-hidden">
      <div class="container-fluid col-xxl-8">
        <div class="row flex-lg-nowrap align-items-center g-5">
          <div class="order-lg-1 w-100">
            <img style="clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);" 
                src="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" 
                class="d-block mx-lg-auto img-fluid" alt="Photo by Milad Fakurian" loading="lazy" 
                srcset="
                https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, 
                https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, 
                https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, 
                https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, 
                https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" 
                sizes="(max-width: 1080px) 100vw, 1080px" 
                width="2160" 
                height="768">
          </div>
          <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4">
            <div class="lc-block mb-4">
              <div editable="rich">
                <h1 class="fw-bold display-4">Qualidade do ar de Fortaleza</h1>
              </div>
            </div>
    
            <div class="lc-block mb-3">
              <div editable="rich">
                <p class="rfs-8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis enim.</p>
              </div>
            </div>
    
            <div class="lc-block mb-5"><a class="btn btn-warning px-4 me-md-2 btn-lg" href="#" role="button">Acompanhar</a>
            </div>
    
            <div class="lc-block">
              <div editable="rich">
                <p class="fw-bold"> Realização:</p>
              </div>
            </div>
            <div class="row">
              <div class="lc-block col-4">
                <img src="./assets/img/logo-pmf_urbanismo.png" alt=" logo secretaria de urbanismo" width="155">
              </div>
              <div class="lc-block col-4">
                <img src="./assets/img/logo_citinova.png" alt=" logo citinova " width="165">
              </div>
              <div class="lc-block col-4">
                <img src="./assets/img/labi-for.png" alt=" logo citinova " width="135">
              </div>
            </div>

            <div class="lc-block mt-3">
              <div editable="rich">
                <p class="fw-bold"> Parceria:</p>
              </div>
            </div>
            <div class="row">
              <div class="lc-block col-4">
                <img src="./assets/img/partners-logo.png" alt=" logo partners" width="145">
              </div>
              <div class="lc-block col-4">
                <img src="./assets/img/ufc-logo.png" alt="ufc logo" width="140">
              </div>
              <div class="lc-block col-4">
                <img src="./assets/img/trama.png" alt="logo trama" width="125">
              </div>
            </div>
          </div>
    
        </div><!-- /lc-block -->
      </div>
    </div>
  </section>
  <section id="section-map">
    <div id="map">
    </div>
    <%- include('includes/aside') %>
  </section>
</main>
</body>
<%- include('includes/footer') %>
