<%- include('includes/header') %>
<header class="">
  <div class="page-header min-vh-50 page-normal">
    <span class="mask bg-gradient-warning opacity-2"></span>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-success my-4">
            Política Monitoramento da Qualidade o Ar Fortaleza
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="mt-5 mb-5 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-8 m-auto shadow px-3 py-3">
        <h3>Legislação:</h3>
        <article>
          <p>
            O Monitoramento da Qualidade do Ar Fortaleza é o portal que veicula
            os dados de monitoramento da qualidade do ar no município e busca
            ampliar essa capacidade já existente desde 2020, no atendimento do
            Decreto nº 15.532, de 18 de janeiro de 2023. A nível Federal, a
            atividade de monitoramento está apoiada na Resolução CONAMA nº 491
            de 19/11/2018 que, baseada no guia de qualidade do ar da Organização
            Mundial da Saúde - OMS de 2005, discorre sobre os padrões de
            qualidade do ar nacionais.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
<%- include('includes/footer') %>
