<%- include('includes/header') %>
<body>
	<h1>Dark Mode + Override (Vanilla JS) 
    <a id="reset-darkmode" href="#" title="Clear Dark Mode Override"><small>(reset)</small></a></h1>
	<div>
		<input type="checkbox" id="toggle-darkmode" />
		<label for="toggle-darkmode"><span>Toggle Light/Dark Mode</span></label>
	</div>

<section class="max-w-7xl mx-auto my-8">
    <p>❤️This tool will convert a CSV file containing latitude 
      and longitude points into a Keyhole Markup Language (KML) file that can be used in Google Earth or Google Maps.</p>
    <hr>
    <div class="topForm">
       <p><strong>Step 1:</strong> Enter data describing your CSV file.</p>
       <label for="chkHeader">First line is a header:</label><input id="chkHeader" type="checkbox" checked="checked"><br>
       <label for="txtColLat">Column of latitude:</label><input id="txtColLat" type="text" value="7">
       <label for="txtColLon">Column of longitude:</label><input id="txtColLon" type="text" value="8"><br>
       <label for="txtColLat">Column of latitude end:</label><input id="txtColLatEnd" type="text" value="9" title="If none, leave blank.">
       <label for="txtColLon">Column of longitude end:</label><input id="txtColLonEnd" type="text" value="10" title="If none, leave blank."><br>
       <label for="txtColTitle">Column of title:</label><input id="txtColTitle" type="text" value="3">
       <label for="txtColMemo">Column of memo:</label><input id="txtColMemo" type="text" value="13">
    </div>
    <hr>
    <p><strong>Step 2:</strong> Upload your CSV file (or load the sample CSV data).</p>
    <input type="file" id="files" name="files[]" />
    <button id="btnSampleCSV">Load sample CSV data</button><br>
    <label>CSV data:</label><br>
    <textarea id="txtCsvData" wrap="off"></textarea>
    <hr>
    <p><strong>Step 3:</strong> Convert the CSV data to KML.</p>
    <button id="convertToKml">Convert CSV data to KML</button><br>
    <br>
    <label>KML data:</label><br>
    <textarea id="txtOutput" wrap="off"></textarea>
    <hr>
    <p><strong>Step 4:</strong> Download the KML data in a KML file.</p>
    <button id="btnDownload">Download KML file</button>
    <hr>
    <p><strong>Step 5:</strong> Open the KML file in either Google Earth or <a href="https://www.google.com/mymaps" target="_blank">Google Maps</a>.</p>
</section>

 </body>
<%- include('includes/footer') %>
