


@media (min-width: 1366px) {
  .s-hero {
    .s-hero__block {
      height: 75vh;
      .s-hero__block--img {
        min-height: auto;
      }
    }
  }
}
@media (max-width: 1366px) {
  .s-hero {
    .s-hero__block {
      .s-hero__block--img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 991px) {
  .s-hero {
    .s-hero__block {
      .s-hero__block--img {
        width: 100%;
      }
    }
  }
}
